* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.app {
  position: relative;
  width: 1000px;
  height: 560px;
  background: #aaa;
}

.aircraft {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 100px;
  height: 50px;
  /* background: #000; */
}
.aircraft .plane-svg{
    width: 100%;
    height: 100%;
}
.propeller{
    height: 100%;
    width: 3px;
    display: block;
    position: absolute;
    top:50%;
    right:2%;
    transform: translateY(-50%) scaleY(2);
    animation:propeller 0.05s linear alternate infinite;
    
}
@keyframes propeller {
    from{
        transform: translateY(-50%) scaleY(2);

    }
    to{
        transform: translateY(-50%) scaleY(0.2);

    }
}



.floor {
}

.tank {
  position: absolute;
  width: 100px;
  height: 50px;
  background: #000;
}

.soldier {
  position: absolute;
  width: 10px;
  height: 40px;
  background: #000;
}

.soldier .gun {
}
.soldier-fire {
}

.bomb {
    position: absolute;
    width: 10px;
    height: 10px;
    background: url(./bomb.png);
}